<body class="body-blue">
  <div class="wrapper bodybkgndwhite"> <!-- wrapper --> 
    <div class="crp-showcase">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center animated fadeInDown">Prietary is early-warning radar for your company</h1>
            <h3 class="text-center animated fadeInDown">Sign up with your work email </h3>
            <div class="text-center actions animated fadeInDown delay2">
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success", :html => { :style => "display:inline-block; "} %> <%# was btn btn-color %>
              <%=form_for User.new, :url => user_session_path, :html => { :style => "display:inline-block; "} do |f| %>
                <%= f.hidden_field :email, value: "pgibbons@in-itech.com" %>
                <%= f.hidden_field :password, value: "password" %>
                <%=f.submit "Try Without Sign Up", class: "btn btn-info" %>
              <% end %>            
            </div>
            <%= link_to(image_tag("/img/Prietary_screen.png", :alt => "..."), new_user_registration_path) %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Features -->
      <div class="row">
        <div class="col-sm-4">
          <div class="crp-ft">
            <i class="text-color fa fa-users fa-3x"></i> 
            <h4>Colleagues</h4>
            <p class="text-muted lh">
              Provide feedback to colleagues with just a few clicks.  Positive feedback can be seen by anyone in your company's Prietary network which helps them gain recognition.  Constructive feedback is only shared with your colleague or their manager.  Your feedback will always remain anonymous, allowing you to say what you think, rather than what you're supposed to say.
            </p>
            <a href="#" class="btn btn-color btn-block hidden btn-xxl">Action</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="crp-ft">
            <i class="text-color fa fa-road fa-3x"></i>
            <h4>Projects and Strategies</h4>
            <p class="text-muted lh">
              Prietary Projects lets your company know what you and your colleagues think about ongoing projects and corporate strategies.  Help answer the questions of what should receive higher priority, and what needs a different approach.  To allow honest and relevant feedback, your project inputs are always anonymous. 
            </p>
            <a href="#" class="btn btn-color btn-block hidden btn-xxl">Action</a>
          </div>
        </div>
        <div class="col-sm-4">
        <div class="crp-ft">
          <i class="text-color fa fa-lightbulb-o fa-3x"></i>
          <h4>Ideas</h4>
          <p class="text-muted lh">
            Suggest ideas for your company to increase sales, improve efficiency, or make the company a better place to work.  Comment and vote on ideas to push the best ideas to the top.  Your name is tied to ideas so that you get credit for great innovations.  It's free, lightweight innovation management.
          </p>
          <a href="#" class="btn btn-color btn-block hidden btn-xxl">Action</a>
        </div>
      </div>
    </div>
      <!-- Description -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="oswald text-center">You can bring transparency to your company.<br>It's free, quick, and anonymous.</h2>
        <hr class="double-margin">
      </div>
    </div>
    <div class="row crp-desc">
      <div class="col-sm-5 col-sm-offset-1">
        <img src="img/macbook.png" alt="..." class="img-responsive">
      </div>
      <div class="col-sm-5">
        <h3 class="text-color text-center-xs">How Prietary works</h3>
        <p class="text-muted text-center-xs lh">
          Establish your account and your company by using your work email address to confirm that you do work for the company.
          <ul>  
          <li><b>Colleagues</b>: create an identity for your colleague by entering his or her work email address.  You can then provide them with anonymous feedback by selecting from Prietary's array of attributes. </li>
          <li><b>Projects</b>: what are your company's major intitiatives?  Just enter them in and use Prietary's rating system to let management know what is going well and what needs a change.</li>
          <li><b>Ideas</b>: Everyone has ideas on how to increase revenues or make the company more efficient.  State your idea and feedback from your colleagues will push the best ideas to the top.</li></ul>
        </p>
        <p class="text-center-xs"><a href="#" class="btn btn-lg btn-default">Find out more</a></p>
      </div>
    </div>
    <!-- // Desctiption -->
    
      <!-- Give it a try -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!-- <hr class="double-margin"> -->
        <h2 class="oswald text-center">Say you're Peter Gibbons and work at In-itech.<br>Give Prietary a try, right here:</h2>
        <%=form_for User.new, :url => user_session_path do |f| %>
          <%= f.hidden_field :email, value: "pgibbons@in-itech.com"%>
          <%= f.hidden_field :password, value: "password"%>
          <%=f.submit "Prietary Sandbox", class: "btn btn-large btn-primary" %>
        <% end %>
        <p>When you go into the sandbox, you can interact with Prietary as if:</p> 
        <ul><li>your name was "Peter Gibbons"</li>
        <li>you work at the company "In-itech"</li> 
        <li>your work email is "pgibbons@in-itech.com"</li></ul>
        <p>  Go ahead and give your colleagues some feedback, create new projects and ideas.  All data entered into the sandbox will be removed often.  </p>
      </div>
    </div>
  </div>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>