<li>
  <div>
    <p><%= link_to(idea.user.name, idea.user) %>&nbsp&nbsp&nbsp&nbsp<%= "#{time_ago_in_words(idea.created)} ago"%>
    <p><b><%= link_to( idea.body, idea) %></b>
      <% if current_user===(idea.user) %> 
        <i><%= link_to "edit ", edit_idea_path(idea) %></i>
      <% end %></p> 
      <% num_votes(idea) %><%# set @idea_upvotes and @idea_downvotes %>
      <p><%= @idea_upvotes %> <i class="text-color fa fa-chevron-up fa-1x"></i>
      &nbsp&nbsp| &nbsp&nbsp
      <%=@idea_downvotes %> <i class="text-color fa fa-chevron-down fa-1x"></i> </p>
  </div>
</li>
<hr> 