
<div>
  <p><%= link_to(idea.user.name, idea.user) %>&nbsp&nbsp&nbsp&nbsp<%= "#{time_ago_in_words(idea.created)} ago"%>
  <p><b><%= link_to( idea.body, idea) %></b>
    <% if current_user===(idea.user) %> 
      <i><%= link_to "edit ", edit_idea_path(idea) %></i>
    <% end %></p> 
    <% num_votes(idea) %><%# set @idea_upvotes and @idea_downvotes %>
    <p>
      <%= @idea_upvotes %>
      <%= form_for(idea.votes.build) do |f| %>
        <%= f.hidden_field :user, value: current_user %>
        <%= f.hidden_field :upvote, value: 1 %> <%# this is getting the 1 there, but it gets recorded as 0 (the default) without this line %>
        <%= f.hidden_field :downvote, value: 0 %>
        <%= f.hidden_field :idea, value: idea %>
        <%= f.hidden_field :created, value: Time.now %>
        <%= f.submit "up", class: "btn btn-large btn-primary" %>
        <%#= f.submit class: "up_arrow" %>
      <% end %>



      <%#= button_to raw("<i class=\"text-color fa fa-chevron-up fa-1x\"></i>"), %>
      &nbsp&nbsp | &nbsp&nbsp


      angular count: 
<!-- 
      <div ng-controller="VoteCtrl">
        <div class="vote" >
          <a href="#" ng-click="like(vote)">{{vote.title}}</a> ({{vote.like}}) 
        </div>
      </div> -->
      <div ng-controller="VoteCtrl">
        <div class="vote" ng-repeat="vote in votes">
          <a href="#" ng-click="like(vote)">{{vote.title}}</a> {{vote.like}}
        </div>
      </div>
      <%=@idea_downvotes %>

      <a href <i class="text-color fa fa-chevron-down fa-1x"></i> </a> &nbsp&nbsp
      <%= link_to "Reply", '#' %>

      <%= form_for(idea.votes.build(upvote: 0, downvote: 1, created: Time.now, idea: idea, user: current_user), remote: true) do |f| %>
        <%= f.submit "down", class: "up-arrow" %>
      <% end %>

      <%= submit_tag("Submit rating feedback", :class=>"up-arrow", :onclick => "return validateform(#{@variable});") %>
    </p>
</div>

<hr> 
<!-- <ul>
    <%# sub_idea = Idea.find(params[:id]) # WRONG can't user params%>
    <%# sub_idea = idea.replies %>
    <%# puts "sub_idea.body: #{sub_idea.body}" %>
    <%# sub_comments = sub_idea.replies%>
    <%# puts "sub_comments.count: #{sub_comments.count}" %>
    <%# puts "sub_comments.nil?: #{sub_comments.nil?} " %>
    <%# unless sub_comments.nil? %>
      <%# sub_comments.each do |comment| %>
        <%#= render comment %>  <%# magically knows to go to _idea %>
      <%# end %>
    <%# end %>
</ul> -->