
<div>
  <p><%= link_to(idea.user.name, idea.user) %>&nbsp&nbsp&nbsp&nbsp<%= "#{time_ago_in_words(idea.created)} ago"%>
  <p><b><%= link_to( idea.body, idea) %></b>
    <% if current_user===(idea.user) %> 
      <i><%= link_to "edit ", edit_idea_path(idea) %></i>
    <% end %></p> 
    <% num_votes(idea) %><%# set @idea_upvotes and @idea_downvotes %>
    <p>
      <div style="display:inline;">
        <%= @idea_upvotes %>
        <%= form_for idea.votes.build, :html => { :style => 'display:inline;' } do |f| %>
          <%= f.hidden_field :upvote, value: 1 %> 
          <%= f.hidden_field :idea_id, :value => idea.id %>
          <%#= f.submit %> <%# "up", class: "btn btn-large btn-primary" %>
          <%= link_to_submit do %>
            <i class="text-color fa fa-chevron-up fa-1x"></i>
          <% end %>

        <% end %>


        &nbsp&nbsp | &nbsp&nbsp
        <%= @idea_downvotes %>
        <%= form_for idea.votes.build, :html => { :style => 'display:inline;' } do |f| %>
          <%= f.hidden_field :downvote, value: 1 %>
          <%= f.hidden_field :idea_id, :value => idea.id %>
          <%= link_to_submit do %>
            <i class="text-color fa fa-chevron-down fa-1x"></i>
          <% end  %>
        <% end %>
        &nbsp&nbsp
      </div>


      <%# make this appear when Reply is clicked %>

        <div id="replyBox" style="display:none;" class="answer_list">
          <%= form_for(@idea) do |f| %>  <%# @idea is the new one being created. idea is the parent that's being shown%>
            <%#= render 'shared/error_messages', object: f.object %>
            <%= f.text_field :body, placeholder: "Type your response..." %>
            <%= f.hidden_field :thread_id, :value => idea.id %>
            <br>
            <%= f.submit "Submit", class: "btn btn-primary" %>

          <% end %>
        </div>

        <!-- <a id="ShowDiv" href"#">Reply</a> -->

        <a id="mylink" href="#">Reply</a>  
        <!-- <input type="button" name="answer" value="Reply" onclick="ShowDiv()" /> -->
        
        <script type="text/javascript">
          // function ShowDiv() {
          //   document.getElementById("replyBox").style.display = "block";
          // }
          window.onload = function() {

            var a = document.getElementById("mylink");

            a.onclick = function() {
              document.getElementById("replyBox").style.display = "block";

              return false;
            }
          }
        </script>

<!-- demo of clicking and live updating the number      <div ng-controller="VoteCtrl">
        <div class="vote" ng-repeat="vote in votes">
          <a href="#" ng-click="like(vote)">{{vote.title}}</a> {{vote.like}}
        </div>
      </div> -->

    </p>
</div>

<hr> 
