<%# ideas/index.html.erb  #################### %> 
<div class="wrapper body">
  <div class="container">
    <div class="row">
      <%= render "users/signed_in_sidebar" %>  
      <div class="col-sm-8">
        <% provide(:title, 'All Ideas') %>
        <% company = current_user.company %>

        <h1><%= company.name %> Ideas</h1> 

          	<%= render @root_ideas %><%# renders _idea.html.erb and passes the idea%>

          <br>
          <% if @root_ideas.size.to_i < 1 %>
            <div class="well well-sm"> <b> No ideas created for your company yet.  Create one here! </b></div>
          <% end %> 

        <%= form_for(@idea) do |f| %>
          <%#= render 'shared/error_messages', object: f.object %>
          <h4>Create a new idea:</h4>
          <%= f.text_field :body, placeholder: "Type idea here, e.g. 'Take Initrode's key customers'" %>
          <br>
          Your name will be shown as the creator of the idea.  Up and down votes are anonymous.<br>
          <br>
          <%= f.submit "Create the idea", class: "btn btn-primary btn-large float-left" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
