<% btnclass, text = set_btn_type(category) %>
<!-- <li> -->
  <table>
  <tr>
    <th rowspan="2"><button type="button" class="<%= btnclass %>" ><%= text %> </span></button></th>
    <th><%= comment %></th>
  </tr>
  <tr>
    <td>
        <% num_fbvotes(feedback) %>
        <div style="display:inline;">
        <%= @feedback_upvotes %>

        <%#= form_for feedback.fbvotes.build, :html => { :style => 'display:inline;' }, :remote => true do |f| %><%# remote true prevents it from page reloading, so vote doesn't show %>
        <%= form_for feedback.fbvotes.build, :html => { :style => 'display:inline;' } do |f| %>
          <%= f.hidden_field :upvote, value: 1 %> 
          <%= f.hidden_field :feedback_id, :value => feedback.id %> <%# don't understand why I need feedback_id, rather than feedback.  I guess because you can't pass the object, only strings. %>
          <%= link_to_submit do %>
            <i class="text-color fa fa-chevron-up fa-1x"></i> 
          <% end %>

        <% end %>

        &nbsp | &nbsp
        <%= @feedback_downvotes %>
        <%# I wish I could show this number, but I think I can't%>
        <%= form_for feedback.fbvotes.build, :html => { :style => 'display:inline;' } do |f| %>
          <%= f.hidden_field :downvote, value: 1 %>
          <%= f.hidden_field :feedback_id, :value => feedback.id %>
          <%= link_to_submit do %>
            <i class="text-color fa fa-chevron-down fa-1x"></i>
          <% end %>
        <% end %>    
        <% if params[:action] == "myfeedback" %><%# if we're in myfeedback page %>
          | 
          <%= form_for feedback.thanks.build, :html => { :style => 'display:inline;' } do |f| %>
            <%= f.hidden_field :feedback_id, :value => feedback.id %><%#  :feedback  or :feedback_id ?? %>
            <%= link_to_submit do %> thank <% end %>
          <% end %>
          |
          <%#= render "layouts/ask_modal"  %>
          <%#= form_for feedback.asks.build, :html => { :style => 'display:inline;' } do |f| %>
            <%#= f.hidden_field :feedback_id, :value => feedback.id %><%#  :feedback  or :feedback_id ?? %>
            <%#= link_to_submit do %> <!-- thank --> <%# end %>
          <%# end %>


          <!-- Button trigger modal -->
          <!-- <button class="btn btn-primary " data-toggle="modal" data-target="#myModal">
            Ask
          </button> -->
          <a  data-toggle="modal" data-target="#myModal">ask</a>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">

                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Ask colleague for more information</h4>
                </div>
                <div class="modal-body">
                  <p>Ask your colleague for more information about the feedback they gave you.  </p>
                  <p>Your colleague will receive an email, giving them the option to provide you with more detailed feedback.  The identity of the person providing the feedback will remain anonymous (unless they identify themselves, of course).</p>
                  <p>Email text: <i><%=current_user.name%> has seen your recent feedback and requests some more information about what he/she is doing well and what can be improved.  To anonymously provide this information, click here</i></p>
                  <p>Press "Ask Colleague" to send the message, or just "Close" to exit without sending.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= form_for feedback.asks.build, :html => { :style => 'display:inline;' } do |f| %>
                    <%= f.hidden_field :feedback_id, value: feedback.id %> 
                    <%#= f.hidden_field :feedback_id, :value => feedback.id %>
                    <%= link_to_submit do %>
                      <button type="button" class="btn btn-primary">Ask Colleague</button>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

            | make private

        <% end %> 
         |  flag     
      </div>
    </td>
  </tr>
</table>
<hr style="border: none; "/>
<!-- <hr> -->



<!-- </li> -->
