<!DOCTYPE html>
<html lang="en" class="app">
<head>
<meta charset="utf-8" />
<title>PRIETARY DASHBOARD</title>
<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- <link rel="stylesheet" href="css/app.v1.css" type="text/css" />
<link rel="stylesheet" href="js/calendar/bootstrap_calendar.css" type="text/css" />
<link rel="stylesheet" href="css/style_over_write.css" type="text/css" /> -->

<!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->
<!-- </head>
<body class=""> -->
<section class="vbox">
  <%# header was here %>
  <section>
    <section class="hbox stretch">
      <!-- .aside was here-->
      <%= render "users/signed_in_sidebar" %>
      <section id="content">
        <section class="hbox stretch">
          <section>
            <section class="vbox">
              <section class="scrollable padder">
                <section class="row m-b-md">
                  <div class="col-sm-6">
                    <h3 class="m-b-xs text-black">In-itech's Business Intelligence Network</h3>
                    <small>Welcome back, <%=current_user.name%>, <i class="fa fa-map-marker fa-lg text-primary"></i> United States</small> </div>
                  
                </section>
                <div class="row">
                  
                  <div class="col-md-4 col-sm-6">
                    
                      <div class="dash_header_menu">
                        
                        
                        
                          <div class="symbol_dashborad symbol_bck_1 sumbol_ico_1">
                            
                            <div class="sumbol_ico_1_arrow">
                            
                            </div>
                                                                                  
                          </div>                   
                          
                        
                        
                        <div class="symbol_txt">
                          
                              <h1 class="count"><%=current_user.company.users.count %></h1>
                              <p>Colleagues</p>                         
                          
                        </div>                     
                                               
                      </div>
                      
                      <div class="dashboard_content">
                        
                          <div class="dashboard_content_header symbol_bck_1 ">
                               Milton Waddams
                          </div>
                          
                          <div class="dashboard_content_inner content_color_change_1">
                            
                            <div class="content_inner_color_1">
                              
                            </div>
                            
                            <div class="color_feedback_1">                              
                              Nice Job                              
                            </div>
                            
                            <div class="content_comment">
                              
                              <span style="float: left; min-width: 100%;">meeting the deadline</span>
                              
                              
                              
                              <div class="color_duration_1">
                                6 days
                              </div>
                              <div class="comment_flag">
                                
                              </div>
                              
                            </div>
                            
                            
                          </div>
                          
                          
                          
                          
                          <div class="dashboard_content_inner content_color_change_1">
                            
                            <div class="content_inner_color_1">
                              
                            </div>
                            
                            <div class="color_feedback_2">                              
                              Thanks                              
                            </div>
                            
                            <div class="content_comment">
                              
                              <span style="float: left; min-width: 100%;">working independently</span>
                              
                              
                              
                              <div class="color_duration_1">
                                6 days
                              </div>
                              
                              <div class="comment_flag">
                                
                              </div>
                              
                            </div>
                            
                            
                          </div>
                          
                          
                          
                          
                          <div class="dashboard_content_inner content_color_change_1">
                            
                            <div class="content_inner_color_1">
                              
                            </div>
                            
                            <div class="color_feedback_3">                              
                             Is great at                             
                            </div>
                            
                            <div class="content_comment">
                              
                              <span style="float: left; min-width: 100%;">high quality work </span>
                              
                                                           
                              <div class="color_duration_2">
                                3 days
                              </div>
                              <div class="comment_flag">
                                
                              </div>
                              
                            </div>
                            
                            
                          </div>
                          
                          
                          
                          <div class="dashboard_content_inner content_color_change_1">
                            
                            <div class="content_inner_color_1">
                              
                            </div>
                            
                            <div class="color_feedback_1">                              
                              Nice Job                              
                            </div>
                            
                            <div class="content_comment">
                              
                              <span style="float: left; min-width: 100%;">deserves a promotion </span>
                              
                                                           
                              <div class="color_duration_2">
                                3 days
                              </div>
                              
                              <div class="comment_flag">
                                
                              </div>
                              
                            </div>
                            
                            
                          </div>
                          
                          
                          
                          <div class="dashboard_content_inner content_color_change_1">
                            
                            <div class="content_inner_color_1">
                              
                            </div>
                            
                            <div class="color_feedback_2">                              
                              Thanks                             
                            </div>
                            
                            <div class="content_comment">
                              
                              <span style="float: left; min-width: 100%;">helping the team</span>
                              
                              <div class="color_duration_1">
                                6 days
                              </div>
                              <div class="comment_flag">
                                
                              </div>
                              
                              
                            </div>
                            
                            
                          </div>
                          
                          
                          
                          
                          
                          
                        
                      </div>
                    
                  </div>
            <div class="col-md-4 col-sm-6"> <%# box that says # of projects %>
                <div class="dash_header_menu">
                   <div class="symbol_dashborad symbol_bck_2 sumbol_ico_2">
                      <div class="sumbol_ico_2_arrow">
                      </div>
                  </div>
                  <div class="symbol_txt">
                        <h1 class="count"><%=current_user.company.projects.count %></h1>
                        <p>Projects</p>                         
                  </div>
                </div>                    

                <% projects_for_homepage() %> <%# call a function in projects_helper that sets a list of project id's to show ratings graphs for on the homepage in @show_projects %>
                <% @show_projects.each do |project| %>    
                  <% set_pfbs(project) %>
                  <div class="dashboard_content "> <%# start of one project box %>
                    <div class="dashboard_content_header symbol_bck_2">
                        <%= link_to(project.name, project) %>
                    </div>        

                    <% if @projects_positive %>
                      <% @projects_positive.each do |pfb| %>
                        <%= render "projects/feedback_item", :comment => pfb.pattribute.name, :category => "positive", :pfeedback => pfb  %>  <%#  :pfeedback would be more correct %>
                      <% end %>
                    <% end %>
                    <% if @projects_needs %>  
                      <% @projects_needs.each do |pfb| %>
                        <%= render "projects/feedback_item", :comment => pfb.pattribute.name, :category => "needs", :pfeedback => pfb  %>
                      <% end %>
                    <% end %>
                    <% if @projects_negative %>  
                      <% @projects_negative.each do |pfb| %>
                        <%= render "projects/feedback_item", :comment => pfb.pattribute.name, :category => "negative", :pfeedback => pfb  %>
                      <% end %> 
                    <% end %>  

                    <!-- </div> -->
                  </div> <%# end of one project box %>
                      
                <% end %>
                  </div>
                  
                  <div class="col-md-4 col-sm-6">
                    
                      <div class="dash_header_menu">
                        
                         <div class="symbol_dashborad symbol_bck_3 sumbol_ico_3">
                          
                          <div class="sumbol_ico_3_arrow">
                            
                          </div>
                          
                        </div>
                        
                        <div class="symbol_txt">
                          
                              <h1 class="count"><%=current_user.company.ideas.count %></h1>
                              <p>Ideas</p>                         
                          
                        </div>
                        
                        
                        
                      </div>
                      
                      <div class="dashboard_content">
                        
                          <div class="dashboard_content_header symbol_bck_3 ">
                              More clarity in the payroll process
                          </div>
                          
                          <div class="dashboard_content_inner_ideas ">
                            
                            <div class="dashboard_content_idea_left">
                              
                            </div>
                            
                              <span style="float: left; min-width: 80%; margin: 2%; margin-bottom: 0px; ">
                                <div class="color_colleague_1">
                                  Bill Lumbergh
                                </div>
                                at 1.55PM 3th June 2014
                              </span>
                              
                              <span style="float: left; min-width: 80%; margin: 2%; margin-bottom: 0px;">
                                i din't get the memo
                              </span>                                                      
                            
                          </div>
                          
                          <div class="dashboard_content_inner_ideas ">
                            
                              <div class="dashboard_content_idea_left">
                              
                              </div>
                            
                              <span style="float: left; min-width: 80%; margin: 2%; margin-bottom: 0px; ">
                                <div class="color_colleague_2">
                                  Bill Lumbergh
                                </div>
                                at 1.55PM 3th June 2014
                              </span>
                              
                              <span style="float: left; min-width: 80%; margin: 2%; margin-bottom: 0px;">
                                i din't get the memo
                              </span>                                                      
                            
                          </div>
                          
                          <div class="dashboard_content_inner_ideas ">
                            
                              <div class="dashboard_content_idea_left" style="height: 62px;">
                              
                              </div>
                            
                              <span style="float: left; min-width: 80%; margin: 2%; margin-bottom: 0px; ">
                                <div class="color_colleague_1">
                                  Bill Lumbergh
                                </div>
                                at 1.55PM 3th June 2014
                              </span>
                              
                              <span style="float: left; min-width: 80%; margin: 2%; margin-bottom: 0px;">
                                i din't get the memo
                              </span>                                                      
                            
                          </div>
                          
                              <span style="float: left; min-width: 47%; margin-left: 3%;">Created by samir</span>
                              
                              <div class="comment_flag" style="margin-right: 3%;">
                                
                              </div>
                              <div class="color_duration_1">
                                6 days
                              </div>
                              
                          <div class="dashboard_content_header content_color_change_1 ">
                            
                            <input type="text" class="idea_reply" placeholder="Reply" />
                            
                            <div class="color_button_1">
                                Send
                            </div>
                              
                          </div>   
                          
                          
                          
                        
                      </div>
                      
                      
                    
                  </div>
                  
                
                
              </section>
            </section>
          </section>
          <!-- side content -->
          
          <!-- / side content -->
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a> </section>
    </section>
  </section>
</section>
<!-- Bootstrap -->
<!-- App -->
<!-- <script src="js/app.v1.js"></script>
<script src="js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
<script src="js/charts/sparkline/jquery.sparkline.min.js"></script>
<script src="js/charts/flot/jquery.flot.min.js"></script>
<script src="js/charts/flot/jquery.flot.tooltip.min.js"></script>
<script src="js/charts/flot/jquery.flot.spline.js"></script>
<script src="js/charts/flot/jquery.flot.pie.min.js"></script>
<script src="js/charts/flot/jquery.flot.resize.js"></script>
<script src="js/charts/flot/jquery.flot.grow.js"></script>
<script src="js/charts/flot/demo.js"></script>
<script src="js/calendar/bootstrap_calendar.js"></script>
<script src="js/calendar/demo.js"></script>
<script src="js/sortable/jquery.sortable.js"></script>
<script src="js/app.plugin.js"></script> -->
<!-- </body>
</html>