<div class="wrapper body"> <!-- or body-inverse -->
  <div class="container">
    <div class="row">
      <%= render "users/signed_in_sidebar" %>  
      
      <div class="col-md-8">
        <h1><%= current_user.company.name %> </h1> 

        <h4><%= link_to "Projects", projects_path %></h4>
        <% projects_for_homepage() %> <%# call a function in projects_helper that sets a list of project id's to show ratings graphs for on the homepage in @show_projects %>
        <% @show_projects.each do |project| %>    

        <div class="well well-sm">
          <p><b><%= project.name %></b></p> 
          <% if project.pfeedbacks.exists? %>
            <p>Project feedback received: </p>
            <ul>
              <% project.pfeedbacks.reverse_each do |fb| %>
                <li>
                <% if fb.pattribute %> 
                  <%= fb.pattribute.name %>
                <% end %>
               </li>
              <% end %>
            </ul>
          <% else %>
            <p><%=link_to("Be the first to give feedback", project) %></p>
          <% end %>

        </div> 
        <% end %>  
        <% if @show_projects.size.to_i < 1 %>
          <div class="well well-sm"> <b> No projects with ratings yet. Give input to your <%= link_to "Projects", projects_path %> </b>
          </div>
        <% else %> <%# there were some projects shown %>  
          <div class="alignright"><%= link_to "more projects", projects_path %></div>
          <br>
        <% end %>        

        <h4><%= link_to "Colleagues", users_path %></h4>
        <% users_for_homepage() %> <%# call a function in users_helper that sets a list of users to show ratings for on the homepage in @show_users %>    
        <%#= @show_users.inspect %> 
        <% @show_users.each do |user| %> 
          <% set_fbs(user) %>
          <div class="well well-sm"> 
            <p><b><%= link_to(user.name, user) %></b> | <%=user.email %></p>
            <ul>
              <% if @users_nicejob %> 
                <% @users_nicejob.each do |fb| %>
                  <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "nicejob", :feedback => fb   %>
                <% end %>
              <% end %>
              <% if @users_greatat %>
                <% @users_greatat.each do |fb| %>
                  <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "greatat", :feedback => fb   %>
                <% end %>
              <% end %>
              <% if @users_thanks %>
                <% @users_thanks.each do |fb| %>
                  <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "thanks", :feedback => fb   %>
                <% end %>
              <% end %>     
            </ul>
          </div>
        <% end %>



        <% if @show_users.size.to_i < 1 %>
          <div class="well well-sm"> <b> No colleagues with feedback yet. Give input to your <%= link_to "Colleagues", users_path %> </b>
          </div>
        <% else %> <%# there were some projects shown %>  
          <div class="alignright"><%= link_to "more colleagues", users_path %></div>
          <br>
        <% end %> 
        <%= render "home/front_page_ideas" %>
      </div>
    </div>
    <hr>

  </div>
</div> 
