
<div class="col-md-4">
    <div class="well well-sm">
      <h4><%=current_user.company.name%>'s Business Intelligence Network</h4>
    </div>
    <div class="well well-sm">
      <%# was @user.name, @user.email but that was nil %>
      <h4><p><%= current_user.name %></p></h4>
      <p><%= current_user.email %></p>
       <%= link_to "My Feedback", myfeedback_path(current_user) %> <%# I didn't need to define a myfeedback_path - it just went to users/myfeedback.html.erb %>
      <%# an example of going to a secure page= link_to "Settings", edit_user_path(current_user) %>
    </div>
    <div class="well well-sm">
      
      <!-- <p><%#= link_to "New colleague", create_colleague_path %> <%#createuser_path(current_user) %></p> -->
      Set up a colleague:

      <%= form_for @newuser, :as => :user, :url => invitation_path(:user), :html => {:method => :post} do |f| %>
        <%= devise_error_messages! %>
        <p><%= f.label "Name:" %> 
        <%= f.text_field :name %></p>
        <p><b><%= "Email: (must be @#{current_user.company.domain})" %></b>
        <%= f.email_field :email, placeholder: "...@#{current_user.company.domain}" %></p>
        <%# following line doesn't do what I need it to TODO: Improve this: %>
        <%= f.hidden_field :company_id, :value => current_user.company.id %>
        <p><%= f.submit "Setup your colleague in Prietary" %>
      <% end %>
      

    </div>
    <div class="well well-sm">
          <%= link_to "New project / strategy / effort", newproject_path %>

      <%#= link_to "Company Leaderboard", '/leaderboard' %> 
    </div>
    <!-- <div class="well well-sm"> -->
      <%#= link_to "Promote my profile", '#'%>
    <!-- </div> -->

</div>

