<% users_for_homepage() %>
<% projects_for_homepage() %>
<% ideas_for_homepage() %>
<aside class="bg-black aside-md hidden-print" id="nav">
  <section class="vbox">
    <section class="w-f scrollable">
      <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-color="#333333">
        <div class="clearfix wrapper dk nav-user hidden-xs">
          <p></p>
          <div class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="thumb avatar pull-left m-r"> <img src="img/a0.jpg"> <i class="on md b-black"></i> </span> <span class="hidden-nav-xs clear"> <span class="block m-t-xs"> <strong class="font-bold text-lt"><%= current_user.name %></strong> <b class="caret"></b> </span> <span class="text-muted text-xs block"><!-- Engineer --></span> <span class="text-lt block"><%= current_user.email %></span></span> </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <span class="arrow top hidden-nav-xs"></span>
              <li> <a href="#">Settings</a> </li>
              <li> <a href="#">Profile</a> </li>
              <li> <a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a> </li>
              <li> <a href="#">Help</a> </li>
              <li class="divider"></li>
              <li> <a href="#" data-toggle="#" >Logout</a> </li>
            </ul>
          </div>
        </div>
        <!-- nav -->
        <nav class="nav-primary hidden-xs">
          <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm"><%= link_to "My Feedback", myfeedback_path(current_user) %>
              <div class="fd_cntr">
                <span class="fd_back_clr"></span>
                <span class="fd_back_clr"></span>
                <span class="fd_back__no_clr"></span>
                <span class="fd_back__no_clr"></span>
              </div>
          </div>
          <ul class="nav nav-main" data-ride="collapse">
            <li class="active"> <a href="#" class="auto"> <i class="i i-statistics icon"> </i> <span class="font-bold">Dashboard</span> </a> </li>
            <li > <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <b class="badge bg-danger pull-right">4</b> <i class="i i-stack icon"> </i> <span class="font-bold">Collegues</span> </a>
              
            </li>
            <li > <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <i class="i i-lab icon"> </i> <span class="font-bold">Projects</span> </a>
              
            </li>
            <li > <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <i class="i i-docs icon"> </i> <span class="font-bold">Ideas</span> </a>
              
            </li>
            
          </ul>
          <div class="line dk hidden-nav-xs"></div>
          <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Colleagues</div>
          <ul class="nav">
          <% @show_users.each do |usr| %>
            <li> <%= link_to raw("<i class='i i-circle-sm text-info-dk'></i> #{usr.name}"), usr %> </li>
          <% end %>  
          </ul>
          <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Projects</div>
          <ul class="nav">
          <% @show_projects.each do |proj| %>
            <li> <%= link_to raw("<i class='i i-circle-sm text-info-dk'></i> #{proj.name}"), proj %> </li>
          <% end %>
          </ul>
          
          <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Ideas</div>
          <ul class="nav">
          <% @show_ideas.each do |idea| %>
            <li> <%= link_to raw("<i class='i i-circle-sm text-info-dk'></i> #{idea.body}"), idea %> </li>
          <% end %>
          </ul>
        </nav>
        <!-- / nav -->
      </div>
    </section>
    <footer class="footer hidden-xs no-padder text-center-nav-xs"><a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs"> <i class="i i-circleleft text"></i> <i class="i i-circleright text-active"></i> </a> </footer>
  </section>
</aside>
<!-- /.aside -->