
<div class="col-md-4">
    <div class="well well-sm">
      <h4><%=current_user.company.name%>'s Business Intelligence Network</h4>
    </div>
    <div class="well well-sm">
      <%# was @user.name, @user.email but that was nil %>
      <h4><p><%= current_user.name %></p></h4>
      <p><%= current_user.email %></p>
       <%= link_to "My Feedback", myfeedback_path(current_user) %> <%# I didn't need to define a myfeedback_path - it just went to users/myfeedback.html.erb %>
      <%# an example of going to a secure page= link_to "Settings", edit_user_path(current_user) %>
    </div>
    <div class="well well-sm">
      
      <!-- <p><%#= link_to "New colleague", create_colleague_path %> <%#createuser_path(current_user) %></p> -->
      Anonymously add a new colleague:

      <%= form_for @newuser, :as => :user, :url => invitation_path(:user), :html => {:method => :post} do |f| %>
        <%= devise_error_messages! %>
        <%= f.label "Name:" %> 
        <%= f.text_field :name %>
        <b><%= f.label "Email:" %></b>
        <%= f.email_field :email, placeholder: " ...@#{current_user.company.domain}" %>
        <%# following line doesn't do what I need it to TODO: Improve this: %>
        <%= f.hidden_field :company_id, :value => current_user.company.id %>
        <%= f.submit "Add colleague in Prietary", class: "btn btn-primary" %>
      <% end %>
      <a  data-toggle="modal" data-target="#myModal">How does Add Colleague work?</a>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="newColleagueExplanation" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="newColleagueExplanation">How does Add Colleague work?</h4>
            </div>
            <div class="modal-body">
              <p>As soon as you enter the name and email address for your colleage and click the "Add colleague in Prietary" button, your colleague's account is active and they can receive feedback</p>
              <p>Your colleague will receive an email that says a colleague has invited them to joing Prietary, along with a link that lets them set up a password for signing in to Prietary.  That's it! </p>
              <p>Every time you add a colleague, you increase the number of people in your company who can read the feedback that has been provided.  Creating colleagues also increases your anonymity by increasing the pool of people whom a given piece of feedback could have come from</p>
              <p>Your colleagues do not know who added them in the system and there is no difference in accounts that were self-created, and those that were set up by a colleague</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="well well-sm">
          <%= link_to "New project / strategy / effort", newproject_path %>
    </div>
</div>

