<%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %> <%# need this on any page that has a chart %>


<%# provide(:title, @user.name) # why did this not get @user.  When this code was in show.html.erb, it had @user ? %> 
<%# maybe OK that I put current_user every palce that @user was - to start, we only want to show this for current_user.  Down the road, once your boss has access, that will change %>
<% provide(:title, current_user.name) %>

<div class="wrapper body">
  <div class="container">
    <div class="row">
    <!-- this is the sidebar.  Remember to put the co. strategy ratings back in.  -->
      <%= render "users/signed_in_sidebar" %>        
      <div class="col-md-8">
        <%# detailed_feedback() %> <%# function in users_helper that sets all current_user's feedback to @myfb %>        
        <div class="well well-sm">

          <% user = current_user %><%##User.find_by(id: params[:id]) %> 

          <p><b><%= user.name %></b> | <%=user.email %></p>
          <ul>
          
            <% @users_nicejob.each do |fb| %>
              <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "nicejob" %>
            <% end %>
            <% @users_greatat.each do |fb| %>
              <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "greatat" %>
            <% end %>
            <% @users_thanks.each do |fb| %>
              <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "thanks" %>
            <% end %>
            <% @users_workon.each do |fb| %>
              <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "workon" %>
            <% end %>
            <% @users_alert.each do |fb| %>
              <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "alert" %>
            <% end %>     
          </ul>

        </div>   
      </div>
    </div>
  </div>
</div>  