<% provide(:title, current_user.name) %>
<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->
<section class="vbox">
  <%# header was here %>
  <section>
    <section class="hbox stretch">
      <!-- .aside was here-->
      <%= render "users/signed_in_sidebar" %>
      <section id="content">
        <section class="hbox stretch">
          <section>
            <section class="vbox">
              <section class="scrollable padder">
                <section class="row m-b-md">
                  <div class="col-sm-6">
                    <h3 class="m-b-xs text-black"></h3>
                  </div>
                </section>
                <div class="row">
                <%# ######## COLLEAGUES ################### %>      
                  <div class="col-md-12 col-sm-12">
                    <div class="dash_header_menu">
                      <div class="symbol_dashborad symbol_bck_1 sumbol_ico_1">
                        <div class="sumbol_ico_1_arrow">
                        </div>                      
                      </div>                   
                      <div class="symbol_txt">
                        <h1 class="count">Feedback received for <b><%= current_user.name %></b></h1> 
                      </div>                     
                    </div>
                    <% @show_users.each do |user| %> 
                      <% set_fbs(user) %>
                      <div class="dashboard_content">
                        <div class="dashboard_content_header symbol_bck_1 ">
                          <p><b><%= link_to(user.name, user) %></b> | <%=user.email %></p>
                        </div>

                        <% if @users_nicejob %> 
                          <% @users_nicejob.each do |fb| %>
                            <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "nicejob", :feedback => fb   %>
                          <% end %>
                        <% end %>
                        <% if @users_greatat %>
                          <% @users_greatat.each do |fb| %>
                            <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "greatat", :feedback => fb   %>
                          <% end %>
                        <% end %>
                        <% if @users_thanks %>
                          <% @users_thanks.each do |fb| %>
                            <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "thanks", :feedback => fb   %>
                          <% end %>
                        <% end %>     
                      </div>
                    <% end %>                                          
                  </div>

                </div><%# end div class=row %>
              </section>
            </section>
          </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a> </section>
    </section>
  </section>
</section>


