<%#### USERS/show ########### %>

<div class="wrapper body">
  <div class="container">
    <div class="row">
      <%= render "users/signed_in_sidebar" %>
      <div class="col-md-8">
        <!-- this is the main section -->
        <div class="well well-sm">
          <% user = set_user(params) %><%##User.find_by(id: params[:id]) %>  
          <p><b><%= user.name %></b> | <%=user.email %></p>

          <p>Positive feedback received: </p>
          <ul>
            <% @users_feedback.reverse_each do |fb| %>
              <% if fb.attribute %> <%# sometimes this doesn't exist ??? %>
                <% if fb.attribute.category==="positive" %>
                  <li><%= fb.attribute.attribute_name %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>

        </div>

        <% if @users_jobs || @users_for_this_job %>
          <div class="well well-sm"> 
            <% if @users_jobs %>
              <p><b><%=current_user.company.name %></b> employees have said that: </p>
                <ul>
                <% @users_jobs.reverse_each do |job| %>
                  <li><b><%=user.name%></b> would do well in a role like <b><%=job.job_holder.name %></b> has now</li>
                <% end %>
              </ul>
            <% end %>
            <% if @users_for_this_job %>
              <ul>
                <% @users_for_this_job.reverse_each do |job| %>
                  <li><b><%=job.subject.name %></b> would do well in a role like <b><%=user.name%></b> has now</li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% else %>
          <div class="well well-sm"> 
            No job recommendations for <b> <%=user.name%></b> yet
          </div>
        <% end %>

        <div class="well well-sm" id="colleaguedDisplay">
          <h4>Give feedback for <%= @user.name %></h4>

          <% @attributes = Attribute.all %>  <%# this should be in controller but it's not going there%>

          <%# from http://codequizzes.wordpress.com/2013/06/06/rails-javascript-workflow-rendering-javascript-partials/ %>
          <%# This renders the list of attributes%>
          <%#= content_tag :div, class: "attributes_class", data: {attributes: @attributes} do %>
          <%# end %>
          <%= render "/users/button_entry" %>

          Write feedback: <input ng-model="query">
          <div ng-controller="List" class="colleague_attribs">
            <ul>
              <li ng-repeat="attrib in attribs | filter:query ">
                <div ng-switch on="attrib.category">
                  <%= puts "params[:id] = #{params[:id]}" %>
                  <span ng-switch-when="positive"><a href=<%="/feedbacks/attribute_selected/#{params[:id]}"%>>{{attrib.attribute_name}}</a> | Public | to <%=user.name%> only</span>
                  <span ng-switch-when="constructive">{{attrib.attribute_name}} | Employee and Manager</span>
                  <span ng-switch-when="alert">{{attrib.attribute_name}} | Manager only</span>
                  <span ng-switch-default></span>
                </div>
              <%# it's not JSON, but attrib.attribute_name works fine %>
            </ul>
          </div>

          <%# puts seeded attributes into $scope.attribs array %>
          <script>  
            var List = function ($scope) {
              // $('.attributes_class').data('attributes')[1].attribute_name    gives "is the best at managment"
              var arrayLength = $('.attributes_class').data('attributes').length;
              $scope.attribs = [];
              for (var i = 0; i < arrayLength; i++) {
                $scope.attribs.push($('.attributes_class').data('attributes')[i]);
              }

              // $scope.attribs = ["Tom", "Jeffrey", "Phil", "Mark", "Paul"];
            }
          </script>
        </div>

        <div class="well well-sm"> <%# job input %>
          <p><b><%= user.name %></b> would do well in a role like that of:</p>
          <%#= form_for @job, :remote => true do |f| %>
          <%= form_for @job do |f| %>
            <%= f.text_field :job_holder, placeholder: "Enter name of a colleague at #{current_user.company.name}" %>
            <%= f.hidden_field :subject, :value => user.id %>

            <!-- or  -->
            <%#= f.text_field :email %>
            <br>
            Your input will be anonymous.  <br>
            <%#= f.hidden_field :subject, :value => current_user.id %>
            <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

