<%#### USERS/show ########### %>
<!-- <body ng-app="ngToggle"> -->
<div ng-app="ngToggle"><%# can I call this something other than body and have it still pick up the app? %>
<!-- <div ng-controller="AppCtrl"> -->
  <!-- <div ng-controller="List" class="colleague_attribs">    -->

  <div class="wrapper body">
    <div class="container">
      <div class="row">
        <%= render "users/signed_in_sidebar" %>
        <div class="col-md-8">
          <!-- this is the main section -->
          <div class="well well-sm">
            <% user = set_user(params) %><%##User.find_by(id: params[:id]) %> 

            <p><b><%= user.name %></b> | <%=user.email %></p>
            <ul>
            
              <% @users_nicejob.each do |fb| %>
                <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "nicejob", :feedback => fb  %>
              <% end %>
              <% @users_greatat.each do |fb| %>
                <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "greatat", :feedback => fb  %>
              <% end %>
              <% @users_thanks.each do |fb| %>
                <%= render "users/feedback_item", :comment => fb.attribute.attribute_name, :category => "thanks", :feedback => fb  %>
              <% end %>    
            </ul>

            </div>
            <div ng-controller="FbController">

              <div class="well well-sm" id="colleaguedDisplay">
                Give feedback for <b><%= @user.name %></b> anonymously
                <hr style="border: none; "/>
                <%= render "/users/button_entry", :user => user %>
                <hr style="border: none; "/>



            <%################## Angular playground ################# %>


  <!--               <form>
                    <input type="text" name="comment" ng-model="newcontact.comment" value="type here..."/>
                    <input type="hidden" ng-model="newcontact.id" />
                 <input type="button" value="Enter" ng-click="saveContact()" />
                </form> -->
            <table>
            <thead> 
              <tr>

                  <!-- <th>feedback staged:</th> -->

              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="fb in fbs">
                  <td>{{ fb.comment }}</td>

                  <td>
                      <a  href="#" ng-click="edit(fb.id)">edit</a> | 
                      <a href="#" ng-click="delete(fb.id)">delete</a>
                  </td>
               </tr>
              </tbody>
            </table>   
            

          </div>
          <br>
        </div>
     <!--        <button ng-click="buffer = buffer + newtext" ng-init="buffer=''">
              submit
            </button>
            buffer: {{buffer}}
   -->


              <!-- <div ng-controller="AppCtrl"> its up above-->

       <!--          <button type="button" class="btn btn-primary" ng-click="toggleCustom()">presentation skills</button>
                <span ng-hide="custom">presentation skills</span>
                <span ng-hide="custom">cheese</span>
                <span ng-show="custom">select inputs from </span> -->
              
            <%# ################# END Angular playground ################# %>

            <% puts "@users_jobs.size: #{@users_jobs.size}"%>
            <% puts "@users_for_this_job.size: #{@users_for_this_job.size}"%>
          <% if @users_jobs.size.to_i > 0 || @users_for_this_job.size.to_i >0 %>
            <div class="well well-sm"> 
              <% if @users_jobs.size.to_i > 0 %>
                <p><b><%=current_user.company.name %></b> employees have said that: </p>
                  <ul>
                  <% @users_jobs.reverse_each do |job| %>
                    <li><b><%=user.name%></b> would do well in a role like <b><%=job.job_holder.name %></b> has now</li>
                  <% end %>
                </ul>
              <% end %>
              <% if @users_for_this_job.size.to_i > 0 %>
                <ul>
                  <% @users_for_this_job.reverse_each do |job| %>
                    <li><b><%=job.subject.name %></b> would do well in a role like <b><%=user.name%></b> has now</li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% else %>
            <div class="well well-sm"> 
              No job recommendations for <b> <%=user.name%></b> yet
            </div>
          <% end %>


          <div class="well well-sm"> <%# job input %>
            <p><b><%= user.name %></b> would do well in a role like that of:</p>
            <%#= form_for @job, :remote => true do |f| %>
            <%= form_for @job do |f| %>
              <%= f.text_field :job_holder, placeholder: "Enter name of a colleague at #{current_user.company.name}" %>
              <%= f.hidden_field :subject, :value => user.id %>

              <!-- or  -->
              <%#= f.text_field :email %>
              <br>
              Your input will be anonymous.  <br>
              <%#= f.hidden_field :subject, :value => current_user.id %>
              <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>


