<%# PROJECTS/index.html.erb  #################### %>
   
<title>Prietary Projects</title>
<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<section class="vbox">
  <section>
    <section class="hbox stretch">
      <%= render "users/signed_in_sidebar" %>
      <section id="content">
        <section class="hbox stretch">
          <section>
            <section class="vbox">
              <section class="scrollable padder">
                <section class="row m-b-md">
                  <section id="content">
                    <div class="colleagues_home_name background_color_change_3"> <%# colleague list column %>
                      <div class="dashboard_content_header background_color_change_1">
                        <span class="dashboard_header_txt">Project</span>
                        <a data-toggle="modal" data-target="#newProjectModal"><span class="dashboard_header_add_btn"></span></a>
                        <%= render "new_project_modal" %>
                      </div>
                      <div class="scrollable name_whole_container">
                        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-color="#333333">
          
                          <!-- <div class="apple_pagination">
                            <%#= will_paginate %> 
                          </div>
                          <ul class="users"> <%# tells it to use the .users in custom.css.scss%> -->
                          <%= will_paginate %>
                          <%= render @projects %><%# renders _project.html.erb and passes the project%>
                          <%= will_paginate %>
                    <!--      </ul>
                              <div class="apple_pagination">
                            <%#= will_paginate %> 
                          </div>  --> 
                        </div>
                      </div>
                      <div class="dashboard_content_header content_color_change_1 " style="border-bottom: 1px solid #d2d3d6">
                        <input type="text" class="colleague_txt" placeholder="Search" />        
                          <div class="color_button_2">
                            Search
                          </div>            
                      </div>  
                    </div>        
              
                  </section> 
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>

