<%# PROJECTS/index.html.erb  #################### %>

   
<div class="wrapper body">
  <div class="container">
    <div class="row">
      <%= render "users/signed_in_sidebar" %>  
      <div class="col-sm-8">
        <% provide(:title, 'All projects') %>
        <% company = current_user.company %>
        <%# company_id = CompanyEmployee.find_by(user_id: (current_user.id)).company_id %>
        <h1><%= company.name %> Projects</h1> 
        <%# or current_user.company.name %>

        <%#= will_paginate %> 

        <ul class="projects"> <%# tells it to use the .projects in custom.css.scss%>
        	<%= render @projects %><%# renders _project.html.erb and passes the project%>
        </ul>
        <%#= will_paginate %> 
        <br>
        <% if @projects.size.to_i < 1 %>
          <div class="well well-sm"> <b> No projects created for your company yet. </b></div>
        <% end %> 

<!--         <div class="row">
          <div class="span"> -->
            <%= form_for(@project) do |f| %>
              <%#= render 'shared/error_messages', object: f.object %>
              <h4>Create a new project.  Enter project name:</h4>
              <%= f.text_field :name %>
              <br>
              Your name will be shown as the creator of the project.  All feedback given will be anonymous.<br>
              <%= f.hidden_field :company_id, :value => current_user.company.id %><br>
              <%= f.submit "Create the project", class: "btn btn-large btn-primary" %>
            <% end %>
<!--           </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
