<!DOCTYPE html>
<html ng-app>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Prietary" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Prietary" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- <header> -->
      <%= render 'layouts/header' %> 
      <div class="container">
        <%= render 'layouts/messages' %> 
      </div>
        <%= yield %> <%# put outside div so it's full width; yields to home/index.html.erb %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      <!-- </div> -->

    </body>

</html>


<script>
$('.dropdown-menu').find('form').click(function (e) {
    e.stopPropagation();
  });
</script>