<!DOCTYPE html>
<html ng-app>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Prietary" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Prietary" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- <header> -->
      <%= render 'layouts/header' %> 
      <div class="container">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %> <%# this is doing the extra message, but it's also pushing it down so that I can see the message %>
        <% end %>

        <%# this is what causes the layout to move up and down, but it 's doing it because it's putting a mmessage:%>
        <%= render 'layouts/messages' %> 
      </div>  
        <%= yield %> <%# put outside div so it's full width; yields to home/index.html.erb %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      <!-- </div> -->

    </body>

</html>