<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BumptUp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "BumptUp" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header_landing' %> <!-- this isn't doing anything.  Why is header showing??? -->
      <!-- <%= render 'layouts/navigation' %> --> <!-- little header -->
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %> <!-- yields to home/index.html.erb -->
    </main>
<!--   </body> -->


<%= render 'layouts/landing_page' %> <!-- divshot landing page -->


</html>